* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  width: 50em;
  height: 28em;
  border: 0.1em solid black;
}

circle {
  fill: transparent;
  stroke: black;
  stroke-width: 0.02em;
}

g.samples circle {
  fill: black;
}

g.lines line {
  stroke: black;
  stroke-width: 0.02em;
}

div.command {
  width: 50em;
  border: 0.1em solid black;

  display: flex;
  flex-flow: column;

  padding: 0.5em;
  gap: 0.5em;
}

div.command label {
  display: flex;
  flex-flow: column;
}

div.command div.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

h1 {
  margin: 0.25em 0;
}

input {
  cursor: pointer;
}
